.naya{
    background: rgb(15 15 15 / 7%);
    text-align: center;
    height: 130px;
    background-color: white;


}
nav{
    background-image: url('images/background4.jpg');
 
}
.navbar-brand{
    
    font-size: 28px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    
}


h3{

    text-align: center; 
   
}
body {
    background-image: url('images/background3.jpg');
}

.carousel-inner 
{
    width: auto;
    height: 600px;
}  

.row{
    margin-top: 8px;
	display: flex;
}

.naya2{

    
    height: 200px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.9;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
  .fa-instagram {
    background: #125688;
    color: white;
}
  
.naya3{
    height: 100px;
    background: rgb(139, 139, 139);
    background-color: white;
}



footer {
    background: rgb(102, 102, 102);
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px;
}
.container{
    background-image: url('images/background4.jpg');
}
.header {
    background-color: #F5F5F5;
    color: coral;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

a{
color: #01448d
}

.btn-primary{
    background-color: #033b77;
    border-color: #023163;
    padding: 5px 40px;

}


a {
    color: #01448d;
}
article > h2{
background-color: white;
}
article > p{
    background-color: white;
    text-align: center;
    
}
.col-12{
    background-color: rgba(253, 253, 253, 0);
}
h1{
    text-align:center;
}
.para{
    font-size: 16px;
    line-height: 1.6;
}
.blog__thumb-img{
    width: 250px;
    height: 150px;
}
.blog__thumb-title{
    background-color: white;
    color:rgb(17, 3, 68)
}
.column {
    flex: 25%;
    padding: 5px;
    text-align: center;
    
  }
  * {
    box-sizing: border-box;
  }
main{
    background-color: white;
} 